
/* headings/font */

h1,
h2,
h3,
h4,
h5,
h6,
p
 {
  text-transform: none!important;

}

p{
  font-weight:400!important;
}

/* header / nav */

.site-nav > .menu-lv-1.dropdown:hover > .dropdown-menu-mobile {
  padding: 30px;
}

.dropdown-megamenu__img--column > li {
  width: 20%;
  padding-right: 25px;
}

.dropdown-megamenu__img--column h3 {
  margin-top: 15px;
}

.dropdown-megamenu__img--column h2 {
  margin-bottom: 20px;
  font-size: 20px;
  text-align:center;
}
.site-nav .mega-menu .dropdown-menu-mobile{
    transform:none;
    transition:none;
    left:100px;
    right:100px;
} 

.dropdown-megamenu__img--column .dropdown-megamenu__img{
   min-height:150px; 
}
.dropdown-megamenu__img--column h3{
  white-space:pre-wrap;
}
.background_white {
  background-color: white;
}

.header-sticky.is-sticky {
  box-shadow: none;
}

.template-index .trans-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.second-logo{
    display:none;
}

.header-middle{
    justify-content:center;
}

.header-middle__left{
    flex-shrink: 0;
    width: calc(36% - 125px);
}

/* slideshow */

.slideshow__heading,
.slideshow__subheading {
  text-transform: none;
}
@media(min-width:1200px){
.slideshow__heading{
 
  font-size:64px;
  font-weight:500;

}
}

.slideshow__subheading{
  font-weight:400;
}

.overlay--dark .slideshow__image:after{
   background-color: rgba(46, 46, 46, 0.6); 
}

.slideshow__content.content--middle{
  max-width:610px;
}

/* we reccommend section */

.reccommend-text-content {
  background-color: #f7f8f7;
  padding: 25px 0px;
  text-align: center;
}

.recommend-title{
    font-size:40px;
    margin-bottom:30px;
    text-transform: none;
}

.custom-arrows {
  position: absolute;
  right: 50px;
  top: 37px;
}

.custom-arrows .slick-prev {
  left: -75px;
  background-color: #f7f8f7;
  width: 35px;
  height: 25px;
  text-align: center;
}

.custom-arrows .slick-next {
  background-color: #6e8871;
  width: 35px;
  height: 25px;
  text-align: center;
}

.custom-arrows .slick-prev:hover,
.custom-arrows .slick-next:hover {
  background-color: #6e8771;
}

.custom-arrows .slick-prev svg,
.custom-arrows .slick-next svg {
  width: 15px;
  height: 15px;
  margin-top: 5px;
  fill: #dfdfdf;
  stroke: #dfdfdf;
}

/* product-list */

.product-card__title-custom a {
  overflow: visible;
  max-width: 230px;
  text-align: center;
  margin-bottom: 45px;
}

.product-card__price {
  text-align: center;
  margin: 20px 0px 0px;
}

.product-card__title-custom {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  margin: 0 0 8px;
  text-transform: capitalize;
  font-family: "Jost*", sans-serif;
  color: #000000;
  text-align: center;
}

.icon-with-text__content .description {
    text-align:center;
 }

 .product-list-title{
    margin-left:50px;
}

.t-align-left{
  text-align:left;
}

.product-card__content-custom {
  z-index: 2;
  display: flex;
  padding-top: 15px;
  position: relative;
  background-color: var(--shopify-editor-setting-color_body_bg);
  flex-direction: column;
  align-items: center;
}

.product-card__btn-alt {
  margin: 0;
  width: 240px;
  display: block;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  padding: 14px 10px;
  text-align: center;
  white-space: nowrap;
  color: #506d54;
  border: 1px solid #6e8871;
  background-color: #fff;
  transition: all 0.3s ease;
  display:flex;
  justify-content: space-between;
  position:relative;
  overflow:hidden;
  z-index:1  
}
.product-card__btn-alt:hover{
  color:#fff;
}
.product-card__btn-alt::after {
  content: "";
  background:#6e8871;
  position: absolute;
  z-index: 3;
  padding: 0.85em 0.75em;
  display: block;
  transition: all 0.35s;
  z-index:-1
}

.product-card__btn-alt:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
}
button.slide_from_left::after {
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
} 




.product-list-collection-link{
  position:absolute;
  top:30px;
  right:170px;
}



/* icon with text */

.halo-column__item {
  margin: 55px 0 0 0;
}

.icon-with-text {
  flex-direction: column;
  align-items: center;
}

[data-section-type="icon-with-text"]
  .slick-slider
  .slick-slide
  .halo-row__item {
  border-left: none !important;
}

.icon-with-text__icon svg {
  width: 28px;
  height: 28px;
}

.icon-with-text__icon{
  width:25px;
}

.btn {
  text-transform: none;
}

#last_block {
  margin-left: 0px;
}

/* image with text */

.debut-column-image {
  width: 45%;
  display: inline-block;

}

.debut-column-text {
  width: 55%;
  display: flex;
  align-items:center;
  justify-content:center;
  background-color:#fbfbfb;
 
}

.debut-column-image-with-text {
  display: flex;
  position: relative;
  
}

.debut-text-content{
 max-width:400px;
 line-height:1.4;
}

.debut-text-content h2{
  font-size:25px;
}

.debut-text-content p{
  margin-bottom:35px;
}

.debut-text-content a{
  border: 1px solid #6e8871;
    color: #6e8871;
    padding: 15px;
}
.debut-btn{
margin: 0;
width:150px;
display: block;
font-size: 16px;
line-height: 22px;
font-weight: 500;
padding: 14px 10px;
text-align: center;
white-space: nowrap;
color: #506d54;
border: 1px solid #6e8871;
background-color: #fff;
transition: all 0.3s ease;
position:relative;
overflow:hidden;
z-index:1 
}
.debut-btn:hover{
  color:#fff;
}
.debut-btn::after {
  content: "";
  background:#6e8871;
  position: absolute;
  z-index: 3;
  padding: 0.85em 0.75em;
  display: block;
  transition: all 0.35s;
  z-index:-1
}

.debut-btn:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
}
a.slide_from_left::after {
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
} 

/* About us */

.debut-about-text{
justify-content: space-evenly;
display:flex;
width:55%;
align-items:center;
background-color:#fbfbfb;
}

.debut-about-content{
  max-width:600px;
  line-height:1.4;
}

.debut-about-content h2{
  font-size:25px;
}

/* brands section */
.brands-padding{
    padding-left:45px!important;
    padding-right:45px!important;
}


/* newsletter */

.newsletter-container{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  background-color:#6e8871;
  padding-top:30px;
  padding-bottom:30px;
}

.newsletter-heading, .newsletter-description{
  font-size:16px;
  color:white;
}
.newsletter-heading{
  font-size:22px;
}

[data-section-type=newsletter] .form-single-field .input-group__btn{
  margin-left:0px;

}

[data-section-type=newsletter] .form-single-field .input-group__btn button{
  background-color:#48594b;
  border: 2px solid #48594b;
}

[data-section-type=newsletter] .input-group__field{
  border:none;
  background-color:white;
}

/* search */

/*

 .search-form-wrapper.custom .search-form{
  top:23%;
}

.search-bar{
  border:1px solid black;
  width:91%;
  
}

.search-bar button{
  color:black;
}

.search-bar input{
  color:black;
  height:45px;
  font-size:25px;
  padding-left:15px;
}

.search-form__trending{
  display:none!important;
}

.search-form--close{
  color:black;
  z-index:999;
  top:3%;
  right:3%;
}

.search-form-wrapper{
  top:80px;
  left:100px;
  right:100px;
  border-radius:10px;
} 

.search-form-wrapper .search-form{
  top:12%;
}

*/

.search-bar input{
  color:black;
}

/* animate image */

  .animate-scale {
  position: relative;
  display: block;
  overflow: hidden;
  width:100%;
  margin: 0 auto;

}

.animate-scale::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(35, 35, 35);
  overflow: hidden;
  opacity: 0;
  z-index: 2;
  transition: all.5s ease;
}

.animate-scale img{
  transition: all .5s ease;
}

.animate-scale:hover img{
  transform:scale3d(1.1,1.1,1);
}

.animate-scale:hover::before{
  overflow: visible;
  opacity:.3;
} 

::placeholder {
  color:black!important;
}

